@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
body{
    background: #F5F5F5;
}

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 180px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69F1A1;
    color: #000;
}

#icon_menu{
    display: none;
}

/*PORTADA - COVER*/

main{
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: #E8E8E8;
}

.media__cover{
    width: 50%;
}

.media__cover video{
    width: 100%;
    margin-top: -40px;
}

/*BANNER*/

.container__banner{
    margin-top: 150px; 
    display: flex;
}

.banner{
    height: 18vw;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner__icon-heart{
    width: 35%;
    height: 100%;
}

#icon_heart{
    width: 35vw;
    margin-top: -45px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 50%;
    position: relative;
    padding: 40px;
}

.banner__text h2{
    color: #fff;
    font-size:2vw;
    font-weight: 400;
}

.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover{
    color: #69F1A1;
}

.banner__icon-fire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}

.prociones{
    margin-top: 150px;
    margin-bottom: 154px;
    align-items: center;
    text-align: center;
    justify-self: center
}

.prociones h1{
padding-top: 8%;
}

.promocionesconst{
    display:flex;
    flex-direction: row;
    justify-content:center ;
    padding-top: 3%;
    flex-wrap: nowrap;
    align-items: center;


}


.promocionn{
    width: 300px;
    height: 400px;
    padding-top: 50px;
    text-align: center;
    margin: 5vh 3vh;
    -webkit-box-shadow: 0px 0px 43px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 43px -22px rgba(0,0,0,0.75);
box-shadow: 0px 0px 43px -22px rgba(0,0,0,0.75);
}

.promocionn hr{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.promocionn h2{
    padding-top: 5px;
    padding-bottom: 10px;
}

.promocionn h1{
    padding-top: 10px;
    padding-bottom: 5px;
}

.promocionn input{
    margin-top: 20px;
}

.promocionn p {
    margin-top: 4.5px;
    font-size: 18px;
}
.promocionn i{
    margin-right: 5px;
}

/*FORMULARIO CONTACTO*/


.formulario{
    max-width: 100%;
    margin-top:30px ;
    margin: auto;
    padding: 20px;
    position: relative;
}

.formulario__titulo{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    color: rgba(0,0,0,0.5);
}

.formulario__input,.formulario__label,.btn__header-register{
    display: block;
    width: 100%;
    font-size: 1.3rem;
}

.formulario__input{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
    background: transparent;

}

.formulario__label{
    padding-left: 15px;
    position: absolute;
    margin-top: -78px;
    z-index: -20;
}

    /*efecto que hace subir */
.formulario__input:focus+.formulario__label{
    margin-top: -115px;
}

.formulariodiv{
    display: flex;
    width: 100%;
}
.formulariodiv div{
    margin-left: 2vw;
}
.div__form__extend{
    width: 100%;
}
.descripcion{
    padding-top: 6vw;
    padding-left: 6vw;
}

/*INFORMACION*/

.container__informacion{
    background: #000;
    height: 500px;


}

.informacion{
    display: flex;
    height: 100%;
    color: #F5F5F5;
    padding-right:5vw;
    padding-left:5vw;
    align-items: center;

    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.informacion__texto{
    width: 100%;
    padding-left: 5vw;

}

.informacion__texto h1{
    font-size: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
}


.informacion__imagen img{
    width: 100%;
}

/*FOOTER*/

.footer__container{
    max-width: 100%;
    margin-top: 180px;

}
.footer__columnas{
    display: flex;
    padding-top: 4vw;
    padding-bottom: 8vw;
    padding-right: 8vw;
    background-color: #000;
    color: #F5F5F5;
    font-size: 1.5vw;
    font-weight: 300;
    justify-content: center;
    align-items: baseline;

}
.footer__lista{

    margin-right: 3vw;
    margin-left: 3vw;
    margin-top: 10px;
    
    margin-bottom: 5px;
}

.footer__lista ul{
    list-style: none;

}

.footer__lista ul li{
    padding-bottom: 5px;
}

.btn__header-footer {
    padding: 0.5vw 3.2vw ;
    margin-left: 2.9vw;
    border: none;
    background: #69F1A1;
    color: white;
    margin-top: 1vw;
    font-weight: 500;
    cursor: pointer;
    transition: background, color, 300ms;
}
.iconos__footer{
    display: flex;
    margin-left: 2.9vw;
}
.icono__footer{
    margin-right: 1vw;
}

.findefooter{
    text-align: center;
    color: #fff;
    padding: 5px;  
      background-color: #1b1b1b;
}

/*oferta*/
.container__oferta{
    max-width: 1200px;
    height: 100%;
    border: 0;
    display: flex;
    
    margin-top: 15vw;
    

}
.columnas__oferta{
    text-align: left;
    background: #F5F5F5;
    padding: 2vw;
    margin: 1vw;
    -webkit-box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
}
.columnas__oferta i{
    font-size: 4vw;
}


/*CONTADOR*/
.contador{
  
    transform: rotate(180deg);
    margin-left: 5vw;
  
}

.numero{
    text-align: center;
    font-size: 5vw;
    color: #fff;
    transform: rotate(-180deg);
    mix-blend-mode: screen;
}


.barra__tiempo{
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #69F1A1;
}

.tiemposs{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 40px;
    margin: auto;
   
}

.tiempos{
    display: flex;
    margin: 1vw;
    padding: 1vw;
    align-items: center;
    border: #000 1px solid;
    justify-content: center;
    background: #121214;
    -webkit-box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -22px rgba(0,0,0,0.75);
}

.tiempos h2{
    font-size: 2vw;
    font-weight: 400;
    margin-left: 1vw;
    color: #fff;
}




@media (max-width: 1024px){

    .container__header,
    main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }

    .banner__text h2{
        font-size: 22px;
    }

    #icon_heart{
        left: -60px;
    }

    .banner__icon-fire{
        right: -20px;
    }
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .banner{
        width: 100%;
        height: 25vw;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }

    #icon_heart{
        left: 0;
        margin-top: 15px;

    }

    .banner__text{
        width: 100%;
        margin-top: -27vw;
        padding-left: 34vw;
    }
}

@media (max-width:670px){

   

    /*Promociones*/

    .promocionesconst {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }


    /*contacto*/

    .container__banner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:400px){

      /*cajas de info*/

      .container__oferta {
        max-width: 1200px;
        height: 100%;
        align-items: center;
        /* text-align: center; */
        border: 0;
        display: block;
        margin-top: 10vw;
    }

    .columnas__oferta {
        text-align: left;
        background: #F5F5F5;
        padding: 4vw;
        /* margin-right: 25vw; */
        /* margin-left: 25vw; */
        margin-bottom: 33px;
    }
    
    /*MAPA*/

    .descripcion {
        padding-left: 0;
       
    }

    .container__oferta {
        /* max-width: 1200px; */
        height: 100%;
        border: 0;
        /* display: flex; */
        margin-top: 10vw;
    }
}